
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--  <script src="//cnstatic01.e.vhall.com/3rdlibs/flexible/1.0/flexible.js"></script>-->
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"
    />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta itemprop="name" content="" />
    <meta name="description" itemprop="description" content="" />
    <meta
      name="description"
      content="微吼课堂,为各行业培训场景而生。满足金融股票讲解、教育线上培训、医疗线上诊断、企业内训、客户产品培训等各行业多场景应用,让培训学习更有价值。"
    />
    <meta
      name="keywords"
      content="教育培训直播|在线教育直播|股票直播|手术直播|企业培训直播"
    />
    <title>在线课堂</title>
    <link
      rel="shortcut icon"
      href="<%= process.env.publicPath%>static/favicon.ico"
    />
    <link
      rel="stylesheet"
      href="//at.alicdn.com/t/font_1200182_zpen7ctibz8.css"
    />
    <link
      rel="bookmark"
      href="<%= process.env.publicPath%>static/favicon.ico"
      type="image/x-icon"
      　
    />
    <link
      rel="stylesheet"
      href="//cnstatic01.e.vhall.com/3rdlibs/vhall-video/1.3.9/dvideo.css"
    />
    <link
      rel="stylesheet"
      href="//cnstatic01.e.vhall.com/3rdlibs/swiper/3.2.0/dist/css/swiper.min.css"
    />
  </head>
  <script>
    if (Array.isArray([])){alert(2)}

  </script>
  <body>
    <div id="app">
		<!--<iframe data-v-26f1cf9d="" allow="microphone;camera" allowfullscreen="allowfullscreen" border="0" src="https://t-m-class.e.vhall.com/#/play/edu_81b8358a?auth_token=7aab226d204d57d1c6d72ded44e9e164" height="600"></iframe></div>-->



	<iframe data-v-26f1cf9d="" border="0" src="https://class.vhall.com/#/pClass/edu_15a3f0b5?auth_token=2ec9372261eb42338f469b5e410592bc" height="600"></iframe></div>
	<!--<iframe data-v-26f1cf9d=""  allowfullscreen="allowfullscreen" border="0" src="https://class.vhall.com/#/pClass/edu_676cef4f?auth_token=883885e1261841202ce9013f9c81c9aa" height="600"></iframe></div>-->

  </body>
</html>

